<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Test & Monitor</title>
</head>

<body class="flex flex-col min-h-screen">
    <div class="bg-gray-100 p-4 h-1/6 m-5 border border-red text-center rounded-lg">
        <h2 class="text-2xl font-bold mb-4 ">
            测试 & 监控
        </h2>
        <p>
            状态:
            <span style="width: 10px; height: 10px;" class="bg-red-500 rounded-full inline-block" id="status_light"></span>
            <span id="notifyer">未连接</span>
        </p>
    </div>

    <!-- test and flame -->
    <div class="flex bg-gray-100 p-4 h-3/6 m-5 border rounded-lg">
        <!-- Left -->
        <div class="w-1/2 p-4 ">
            <form class="mb-4" method="post">

                <label for="command" class="my-1">
                    <i class="fa-solid fa-vial-virus"></i>
                    压力测试:
                    <!-- fortio load -c <threads> -qps <qps> -t <time> <addr>/ -->
                </label>
                <div class="flex">
                    <input type="text" id="exec_test_time"
                        class="w-full my-1 mx-1 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                        placeholder="时间(秒)" required>
                    <input type="text" id="exec_test_thread"
                        class="w-full my-1 mx-1 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                        placeholder="线程数(HZ)" required>
                    <input type="text" id="exec_test_qps"
                        class="w-full my-1 mx-1 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                        placeholder="QPS" required>
                    <input type="text" id="exec_test_addr"
                        class="w-full my-1 mx-1 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                        placeholder="地址, 如 http://127.0.0.1:8080" required>
                    <button class="my-1 mx-1 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600"
                        type="submit" onclick="submitTestForm(event)">提交</button>
                </div>
            </form>
            <div class="border rounded">
                <h3>测试结果</h3>
                <div id="exec_test_res">
                    等待中
                </div>
            </div>
        </div>
        <!-- Right -->
        <div class="w-1/2 p-4 flex flex-wrap flex-col border rounded-lg">
            <div>
                <!-- flame form -->
                <form class="mb-4" method="post">
                    <label for="exec_gen_flame_time" class="my-1">
                        <i class="fa-solid fa-fire"></i>
                        截取火焰图:
                        <!-- time=3\&freq=99\&type=off -->
                    </label>
                    <div class="flex">
                        <input type="text" id="exec_gen_flame_time"
                            class="w-full my-1 mx-1 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                            placeholder="时间(秒)" required>
                        <input type="text" id="exec_gen_flame_hz"
                            class="w-full my-1 mx-1 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                            placeholder="采样频率(HZ)" required>
                        <label for="exec_gen_flame_selector">类型:</label>
                        <select id="exec_gen_flame_selector" name="selector" required>
                            <option value="on">on</option>
                            <option value="off">off</option>
                        </select>
                        <button class="my-1 mx-1 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600"
                            type="submit" onclick="submitFlameForm(event)">提交</button>
                    </div>
                </form>
            </div>
            <hr>
            <div>
                <!-- graphs -->
                火焰图结果
                <div id="exec_gen_flame_res">
                    等待中
                </div>
            </div>
        </div>
    </div>

    <!-- exec cmd -->
    <div class="flex bg-gray-100 p-4 h-2/6 m-5 border rounded-lg">
        <!-- Left -->
        <div class="w-1/2 p-4 ">
            <form class="mb-4" method="post">

                <label for="command" class="my-1">
                    <i class="fa-solid fa-terminal"></i>
                    终端命令:
                </label>
                <div class="flex">
                    <input type="text" id="exec_command_input"
                        class="w-full my-1 mx-1 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                        placeholder="Enter a command" required>
                    <button class="my-1 mx-1 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600"
                        type="submit" onclick="submitExecForm(event)">提交</button>
                </div>
            </form>
        </div>
        <!-- Right -->
        <div class="w-1/2 p-4 flex flex-wrap border rounded-lg">
            <div class="">
                <p class="m-1 w-full" id="exec_cmd_result">
                    等待中
                </p>
            </div>
        </div>
    </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
<script src="{{url_for('static', filename='script.js')}}"></script>

</html>